body{
	color: #40514E;
	margin: 0;
	text-align: center;
	font-family: 'Karla', sans-serif;
}

h1{
	font-family: 'Kalam', cursive;
	margin: 50px auto 0 auto;
	font-size: 90px;
	color: #66BFBF;
	 
}

h2{
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 30px;
	color: #66BFBF;
	font-weight: normal;
	padding-bottom: 10px;
}

h3{
	font-family: 'Fira Sans Condensed', sans-serif;
	color: #11999E;
}

p{
	line-height: 2;
}

hr{
	border: dotted #EAF6F6 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;
}

a{
	color: #11999E;
	font-family: 'Fira Sans Condensed', sans-serif;
	margin: 10px 15px;
	text-decoration: none;
}

a:hover{
	color: #66BFBF;
}

.skill-row{
	width: 50%;
	margin: 100px auto;
	text-align: left;
}

.top{
	background-color: #E9E5D6;
	postion: relative;
	padding-top: 100px;
}
.mid{
	padding: 100px 0;
}
.bottom{
	background-color: #E9E5D6;
	padding: 50px 0 20px;
}

.intro{
	width: 30%;
	margin: auto;
}

.attribution{
	font-size: 10px;
	margin: 10px;
}

.me{
	width: 200px;
	border-radius: 500px;
}

.copyright{
	color:#66BFBF;
	font-size: .85rem;
	margin: 20px 0;
}

.top-cloud{
	position: absolute;
	right: 300px;
	top: 100px;
	
}
.bottom-cloud{
	position: relative;
	left: -100px;
	bottom: 300px;
}

.mountain{
	position: relative;
	top: 4px;
}

.html-icon{
	width: 25%;
	float: left;
	padding-right: 30px;
}

.guitar-icon{
	width: 25%;
	float: right;
	padding-left: 30px;
}

.contact-message{
	width: 40%;
	margin: 40px auto 60px;		
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Karla', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30ecb3;
  background-image: -webkit-linear-gradient(top, #30ecb3, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30ecb3, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30ecb3, #2bc4ad);
  background-image: -o-linear-gradient(top, #30ecb3, #2bc4ad);
  background-image: linear-gradient(to bottom, #30ecb3, #2bc4ad);
  text-decoration: none;
}
